/* PALETTE */
$primary-blue: #1469F7;
$lightblue: #1FABE0;
$navyblue: #092F4B;

$primary-black: #151515;

$primary-grey: #242424;
$primary-lightgrey: #666666;
$lightlightgrey: #F4F4F4;
$soft-grey: #848484;

$green: #47B047;
$light-green: #92ED6E;

$yellow: #FEE353;
